html,
body,
#root,
.bg {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  scroll-padding-top: 70px;
}

canvas {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
}

.bg {
  position: absolute;
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-bar-container {
  width: 200px;
  height: 3px;
  background: #272727;
}

.loading-bar {
  height: 3px;
  background: white;
}

h1 {
  position: absolute;
  top: 120px;
  left: 50%;
  font-family: "Lexend Mega", sans-serif;
  font-weight: 800;
  font-size: 10em;
  transform: translate3d(-50%, 0, 0);
  margin: 0;
  color: peru;
  line-height: 0.8em;
  letter-spacing: -15px;
  text-align: center;
}

h1 > span {
  white-space: pre;
}

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100% fixed !important;
  background: linear-gradient(0deg, rgba(63, 12, 88, 0.2) 0%, transparent 100%);
  pointer-events: none;
}

span.header {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  position: absolute;
  display: inline-block;
  width: 500px;
  transform: translate3d(0, -50%, 0);
  font-size: 9em;
  line-height: 0.9em;
  pointer-events: none;
  top: 350px;
  left: 50px;
}

span.header-left {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  position: absolute;
  display: inline-block;
  transform: translate3d(0, -50%, 0);
  line-height: 1em;
  top: 200px;
  left: 60px;
  font-size: 4em;
  width: 200px;
}
.btn-md {
  left: 30px;
  color: white;
}
@media only screen and (max-width: 600px) {
  a.bottom-left {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  h1 {
    transform: translate3d(-50%, 0, 0);
    font-size: 8em;
    letter-spacing: -5px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    transform: translate3d(-50%, 0%, 0);
    font-size: 4em;
    letter-spacing: -5px;
  }
}

a {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: inherit;
  position: absolute;
  display: inline;
  text-decoration: none;
  z-index: 1;
  color: white;
}

a.top-left {
  top: 60px;
  left: 60px;
  color: white;
}

a.top-right {
  top: 60px;
  right: 60px;
  color: white;
}

a.bottom-left {
  bottom: 60px;
  left: 60px;
  color: white;
}

a.bottom-right {
  bottom: 60px;
  right: 60px;
  color: white;
}

a.bottom-center {
  bottom: 30px;
  left: 60px;
  color: white;
}

/* ========================================= */
/* =============== HOME PAGE =============== */
/* ========================================= */

.particles {
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* ========================================= */
/* =============== MESSAGE FORM =============== */
/* ========================================= */

#messageForm {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: absolute;
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
}

h4 {
  color: white;
  font-size: 18px;
}

#options {
  width: 100vh;
  height: 8vh;
  display: flex;
  width: 89%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#messageForm h2 {
  text-align: center;
  font-size: 40px;
}

#messageForm form {
  height: 40vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#messageForm h4 {
  text-align: center;
  line-height: 1.5;
  font-size: 1rem;
  justify-content: center;
  padding: 15px 0 15px 0;
}

.form-group {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-left: 140px;
}

/* LEFT COLUMN OF FORM */
#messageForm label {
  color: white;
}

/* RIGHT COLUMN OF FORM */
.form-inputs {
  width: 60%;
}

.form-inputs1 {
  width: 81%;
  padding-left: 345px;
  padding-top: 50px;
}

input,
textarea {
  height: 3rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-bottom: 15px;
}

textarea {
  height: 8rem;
}

/* ========================================= */
/* ================= message ================== */
/* ========================================= */

#message {
  color: white;
  background: none;
  top: 1rem;
  right: 1rem;
  position: absolute;
}
#message p {
  line-height: 1.4rem;
}

#charLimit {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: white;
}

#messageButton {
  width: 100%;
  margin-top: 2rem;
  background-color: white;
  border-radius: 5px;
}

/* ========================================= */
/* ================= messageSelect ================== */
/* ========================================= */

.dd-wrapper {
  width: 30%;
  margin: 10% auto;
}

.dd-header {
  border: 1px solid lightblue;
  padding: 10px;
}

.dd-list {
  border: 1px solid lightblue;
  border-top: none;
  margin-top: 0%;
  list-style: none;
  text-align: center;
  padding: 10px;
}

.dd-list-item {
  padding: 10px;
}

/* ========================================= */
/* ================= messageSubmitted ================== */
/* ========================================= */

#messageSubmitted {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding: 10rem;
}

h2 {
  color: white;
  font-size: 60px;
  padding-bottom: 40px;
  padding-top: 30px;
}

h3 {
  color: white;
}

p {
  line-height: 1.5;
  color: white;
  text-align: center;
  align-items: center;
}


.stars {
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  margin-left: 8rem;
  margin-right: 8rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}




/* ========================================= */
/* ================= QUIZ ================== */
/* ========================================= */
 
.question-section{
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}

.answer-section {
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#text p {
  padding-top: 30px;
  font-family: "Courier New";
  font-size: 30px;
  color: black;
}



h5 {
  color: white;
}

.quiz {
  line-height: 1.5;
  color: white;
  text-align: center;
}

.QuizForm {
  line-height: 1.5;
  color: white;
  text-align: center;
}

h6 {
  color: white;
}

.leaflet-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
  align-content: center;
  height: 100vh;
  width: 85vw;
}

.shop {
  font-family: sans-serif;
  text-align: center;
}

.map-popup-button {
  padding: 0;
  border: none;
  background: none;
  color: salmon;
  text-decoration: underline;
  font-size: large;
}
.leaflet-marker-icon,
.leaflet-marker-shadow {
  border-radius: 50%;
}

.drop.item {
  height: 70px;
}

.text-position {
  padding-top: 30px;
  color: white;
}
 
* {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

.btn-secondary {
  margin-top: 9rem;
}
